body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
html { font-size:62.5%; }
h1 { font-size: 20px; font-size: 2rem; } /* =20px */
p  { font-size: 1.2rem; text-align: justify;} /* =14px */
li { font-size: 1.35rem; }
#header{
  width:85%;
  margin:auto;
  font-size:1.025em;
  overflow:hidden;
}
#header #logo{
  width:68%;
  margin:0 auto;
  float:left;
}
#header #logo img{
  max-height:100%;
  max-width:100%;
}

#posizione{
    font-size: 1.50em;
    text-decoration: solid;
    width:85%;
    margin:auto;
    padding: 1%;
}

#contenuto{
    width:85%;
    overflow: auto;
    margin: auto;
    padding-bottom:5%;
    }
#nav{
    float: left;
    padding-top:1%;
    padding-left:0%;
    color:rgb(252,223,43);
    width:15em;
    border-color:dimgrey;
    border-style:solid;
    border-width:0.1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

#nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
#nav li{
    margin-bottom:0.5em;}

#nav li a{
    color:black;
    text-align: center;
    padding:0.2em 0.95em;
    text-decoration:none;
}
#nav li a:hover{
    color:black;
    text-align: center;
    padding:0.2em 0.95em;
    text-decoration:none;
}
#nav li a:visited{
    color:blue;
    text-align: center;
    padding:0.2em 0.95em;
    text-decoration:solid;
}
#corpo{
    overflow: hidden;
    padding-left:3%;
}
#corpo #mappa{
    width:40%;
    margin:4%;
}
#corpo #mappa img{
    max-height:100%;
    max-width:100%;
}
#corpo table#padiglioni{
    width:75%;
    margin:5%;
    border:solid black;
    border-collapse: collapse;
}
#corpo table#padiglioni td{
    font-size:1.28em;
    border: 0.1em solid black;
    padding:0.8em;
}
#corpo table#padiglioni th{
    font-size:1.5em;
    border: 0.1em solid black;
    padding:0.8em;
}
#footer{
    background-color:dimgrey;
    width:85%;
    margin:auto;
    border-color:dimgrey;
    border-style:solid;
    border-width:0.5em;
    -webkit-border-bottom-right-radius: 1em;
    -webkit-border-bottom-left-radius: 1em;
    -moz-border-radius-bottomright: 1em;
    -moz-border-radius-bottomleft: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    }
