body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
html { font-size:62.5%; }
h1 { font-size: 20px; font-size: 2rem; } /* =20px */
p  { font-size: 14px; font-size: 1.4rem; } /* =14px */
li { font-size: 14px; font-size: 1.4rem; }
#header{
  border:0 0 0 0.005em;
  min-width:400px;
 /* border-style:solid;*/
  width:85%;
  margin:auto;
  font-size:1.025em;
  overflow:hidden;
}
#header #logo{
  width:50%;
  margin:0 auto;
  float:left;
}
#header #logo img{
  max-height:100%;
  max-width:100%;
}
#nav{
  /*font-size:1.1em;*/
  min-width:400px;
  padding-top:1%;
  padding-left:0%;
  color:rgb(252,223,43);
  width:85%;
  margin:auto;
}
#nav ul{
  margin:0 0;
}
#nav li{
  display:inline;
  margin-left:0;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  
}
#nav a{
  color:black;
}
#contenuto{
  min-height:400px;
  min-width:400px;
  width:85%;
  margin:auto;
}
#footer{
  min-width:400px;
  background-color:black;
  width:85%;
  margin:auto;
  border-style:solid;
  border-width:0.5em;
  border-radius: 1em;
  -moz-border-radius-bottom: 1em; /* firefox */
  -webkit-border-radius: 1em; /* safari, chrome */
}