<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Dati personali - ImperoFiere</title>
    <meta name="title" content="Home Page - ImperoFiere | Organizziamo e ospitiamo i vostri eventi fieristici" />
    <meta name="author" content="Andrea Cardin, Andrea Nalesso, Gabriele Marcomin, Ismaele Gobbo" />
    <meta name="description" content="Home Page del sito di ImperoFiere, società fieristica di Rovigo" />
    <meta name="keywords" content="index, ImperoFiere, fiera, Rovigo, Impero" />
    <meta name="language" content="italian it" />
  </head>
  
  <body>
    <h2> Utente: <TMPL_VAR USERNAME></h2> <br /><br />
    <TMPL_IF ZERO>
      <dl>
	<dt>Nome: <TMPL_VAR NOME></dt>
	<dt>Cognome: <TMPL_VAR COGNOME></dt>
	<dt>Data di nascita: <TMPL_VAR DATANASCITA></dt>
	<dt>Indirizzo:</dt>
	  <dd>Via: <TMPL_VAR VIA></dd>
	  <dd>Numero: <TMPL_VAR NUMERO></dd>
	  <dd>Città: <TMPL_VAR CITTA></dd>
	  <dd>Provincia: <TMPL_VAR PROVINCIA></dd>
	  <dd>CAP: <TMPL_VAR CAP></dd>
	<dt>Email: <TMPL_VAR EMAIL></dt>
      </dl>
      <a href="datiUtente.cgi?modifica=1">Modifica dati personali</a>  
      <a href="datiUtente.cgi?modifica=2">Imposta nuova password</a>
    <TMPL_ELSE>
      <TMPL_IF UNO>
	<TMPL_IF OK>
	  Dati personali modificati con successo. <br />
	  <a href="datiUtente.cgi">Torna indietro</a>
	<TMPL_ELSE>
	  <TMPL_VAR STRERR>
	  <form method="post" action="datiUtente.cgi?modifica=1">
	    <fieldset>
	      <legend>Modifica dati personali</legend>
	      <label for="nome">Nome:</label>
	      <input type="text" name="nome" id="nome" value="<TMPL_VAR NOME ESCAPE=HTML>" /><br />
	      
	      <label for="cognome">Cognome:</label>
	      <input type="text" name="cognome" id="cognome" value="<TMPL_VAR COGNOME ESCAPE=HTML>" /><br />
	      
	      <label for="datanascita">Data di nascita:</label>
	      <input type="text" name="datanascita" id="datanascita" value="<TMPL_VAR DATANASCITA ESCAPE=HTML>" size="10" title="formato AAAA-MM-GG" /> (aaaa-mm-gg)<br />


	      <label for="via">Via:</label>
	      <input type="text" name="via" id="via" value="<TMPL_VAR VIA ESCAPE=HTML>" size="30" />&nbsp
	      
	      <label for="numero">N°:</label>
	      <input type="text" name="numero" id="numero" value="<TMPL_VAR NUMERO ESCAPE=HTML>" size="4" /><br />
	      
	      <label for="citta">Città:</label>
	      <input type="text" name="citta" id="citta" value="<TMPL_VAR CITTA ESCAPE=HTML>" size="25"/>&nbsp
	      
	      <label for="provincia">Provincia:</label>
	      <input type="text" name="provincia" id="provincia" value="<TMPL_VAR PROVINCIA ESCAPE=HTML>" size="2" />&nbsp
	      
	      <label for="cap">CAP:</label>
	      <input type="text" name="cap" id="cap" value="<TMPL_VAR CAP ESCAPE=HTML>" size="5" /><br />

	      <label for="email">Email:</label>
	      <input type="text" name="email" id="email" value="<TMPL_VAR EMAIL ESCAPE=HTML>" /><br />
	    </fieldset>
	    <input type="submit" value="modifica" />
	    <input type="hidden" name="submitted" id="submitted" value="1" />
	    <input type="hidden" name="modifica" id="modifica" value="1" />
	  </form>
	</TMPL_IF>
      <TMPL_ELSE>
	<TMPL_IF OK>
	  Password modificata con successo. <br />
	  <a href="datiUtente.cgi">Torna indietro</a>
	<TMPL_ELSE>
	  <TMPL_VAR STRERR>
	  <form method="post" action="datiUtente.cgi?modifica=2">
	    <fieldset>
	      <legend>Imposta nuova password:</legend>
	      <label for="oldpassword">Vecchia password:</label>
	      <input type="password" name="oldpassword" id="oldpassword" value="" size="16" /><br />
	      
	      <label for="newpassword">Nuova password:</label>
	      <input type="password" name="newpassword" id="newpassword" value="" size="16" /><br />
	      
	      <label for="coldpassword">Conferma nuova password:</label>
	      <input type="password" name="cnewpassword" id="cnewpassword" value="" size="16" /><br />
	    </fieldset>
	    <input type="submit" value="modifica" />
	    <input type="hidden" name="submitted" id="submitted" value="1" />
	    <input type="hidden" name="modifica" id="modifica" value="2" />
	  </form>
	</TMPL_IF>
      </TMPL_IF>
    </TMPL_IF>
  </body>
</html>
	
	
	
	
	
	
	
	
	
	
	