<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Nome Pagina - ImperoFiere</title>
    <meta name="title" content="Home Page - ImperoFiere | Organizziamo e ospitiamo i vostri eventi fieristici" />
    <meta name="author" content="Andrea Cardin, Andrea Nalesso, Gabriele Marcomin, Ismaele Gobbo" />
    <meta name="description" content="Home Page del sito di ImperoFiere, società fieristica di Rovigo" />
    <meta name="keywords" content="index, ImperoFiere, fiera, Rovigo, Impero" />
    <meta name="language" content="italian it" />
<!-- CSS: -->
    <!--<link type="text/css" rel="stylesheet" href="/style/base.css" media="handheld, screen" />
    <link type="text/css" rel="stylesheet" href="/style/small.css" media="handheld, screen and (max-width:480px), only screen and (max-device-width:480px)" />
    <link type="text/css" rel="stylesheet" href="/style/print.css" media="print" />
    <link type="text/css" rel="stylesheet" href="/style/aural.css" media="aural" />-->
<!-- JAVASCRIPT: -->
    <!-- <script type="text/javascript" src="/js/prepareHomePage.js"></script> -->
<!-- IN CASO VOLESSIMO UN'ICONA: -->
    <!-- <link rel="icon" href="/img/favicon.ico" type="image/x-icon" /> -->
  </head>
  <body>
    <h1>Foto</h1>
    <p>In questa pagina sono contenute alcune foto dei vari eventi della fiera</p>
    <TMPL_LOOP NAME=LEFOTO>
      <h2><TMPL_VAR TITOLO></h2>
      <TMPL_LOOP NAME=SLIDE>
        <TMPL_VAR IMG>
      </TMPL_LOOP>
   </TMPL_LOOP>
  </body>
  </html>
