<head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <link type="text/css" rel="stylesheet" href="css/style.css" media="handheld, screen" />
      <link type="text/css" rel="stylesheet" href="css/handheld.css" media="handheld, screen and (max-width:550px), only screen and (max-device-width:550px)" />
      <link type="text/css" rel="stylesheet" href="css/print.css" media="print" />
      <title>EmpireCon.it - <TMPL_VAR PAGE></title>
      <meta name="title" content="<TMPL_VAR PAGE ESCAPE=HTML> - EmpireCon| Organizziamo e ospitiamo i vostri eventi fieristici" />
      <meta name="author" content="Andrea Cardin, Andrea Nalesso, Gabriele Marcomin, Ismaele Gobbo" />
      <meta name="description" content="<TMPL_VAR PAGE ESCAPE=HTML> del sito di ImperoFiere, società fieristica di Rovigo" />
      <meta name="keywords" content="<TMPL_VAR KEYWORD ESCAPE=HTML>" />
      <meta name="language" content="italian it" />
</head>
