<h3>Contatti</h3>
<p>Sede legale ed amministrativa: Viale Porta Adige, 45 - 45100 ROVIGO</p>
<p>Telefono: 0425-897184</p>
<p>Fax: 0425-508184</p>
<p>In caso di problemi con l'acquisto di biglietti, contattare
  <a href="mailto:info@empirecon.com">
    info@empirecon.com
  </a>
    per ricevere assistenza </p>
