<h3>Contatti</h3>
<li>
  <TMPL_LOOP NAME=NUMERI>
    <ul><TMPL_VAR TIPO>: <TMPL_VAR INDIRIZZO> - <TMPL_VAR NUMERO></ul>
  </TMPL_LOOP>
</li>
<p>In caso di problemi con l'acquisto di biglietti, contattare <TMPL_VAR EMAIL> per ricevere assistenza </p>
