<h1>Foto</h1>
<p>In questa pagina sono contenute alcune foto dei vari eventi della fiera</p>
<TMPL_LOOP NAME=LEFOTO>
	<h2><TMPL_VAR TITOLO></h2>
      	<TMPL_LOOP NAME=SLIDE>
        	<TMPL_VAR IMG>
      	</TMPL_LOOP>
</TMPL_LOOP>
