<p>Peace is a lie. There is only Passion. </p>
<p>Through Passion I gain Strenght.</p>
<p>Through Strenght I gain Power.</p>
<p>Through Power I gain Victory.</p>
<p>Through Victory my chains are broken.</p>
<a href="http://wwww.nonesisto.nes"> Evviva il gabibbo? </a>
