<div id="mappa"><TMPL_VAR IMMAGINE /></div>
<table id="padiglioni" summary="In questa tabella sono contenuti la lista dei padiglioni,
		la relativa posizione e l'eventuale evento in corso per padiglione">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Posizione</th>
			<th scope="col">Evento in corso</th>
		</tr>
		</thead>
		<tbody>
			<TMPL_LOOP NAME=PADIGLIONI>
				<tr>
					<td><TMPL_VAR ID></td>
					<td><TMPL_VAR POSIZIONE></td>
					<td><a href="<TMPL_VAR IDEVENTO ESCAPE=HTML/>"><TMPL_VAR EVENTO></a></td>
				</tr>
			</TMPL_LOOP>
		</tbody>
</table>
