<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Nome Pagina - ImperoFiere</title>
    <meta name="title" content="Home Page - ImperoFiere | Organizziamo e ospitiamo i vostri eventi fieristici" />
    <meta name="author" content="Andrea Cardin, Andrea Nalesso, Gabriele Marcomin, Ismaele Gobbo" />
    <meta name="description" content="Home Page del sito di ImperoFiere, società fieristica di Rovigo" />
    <meta name="keywords" content="index, ImperoFiere, fiera, Rovigo, Impero" />
    <meta name="language" content="italian it" />
  </head>
  
  <body>
    <TMPL_VAR ERRORE>
    <form method="post" action="login.cgi">
      <fieldset>
	<legend>Login:</legend>
	<label for="username">Username:</label>
	<input type="text" name="username" id="username" value="" size="16"/><br />
	
	<label for="password">Password:</label>
	<input type="password" name="password" id="password" value="" size="16" />
      </fieldset>
      <input type="submit" value="submit" />
      <input type="hidden" name="referrer" value="<TMPL_VAR RIFE ESCAPE=HTML>" />
      <input type="hidden" name="submitted" value="1" />
    </form>
  </body>

</html>